.cabecalho {
    color: var(--branco);

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--borda-cabecalho-mobile);

    position: absolute;
}

.cabecalho__logo {
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

/* CSS Media Queries
The @media rule, introduced in CSS2, made it possible to define different style rules for different media types.
https://www.w3schools.com/css/css3_mediaqueries.asp */

@media screen and (min-width:1024px) {

    .cabecalho {

        /* The flex-direction property specifies the direction of the flexible items. 
        https://www.w3schools.com/cssref/css3_pr_flex-direction.asp*/
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }
    
}