
body {
	background: url(bg_img.webp) no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
}

.main-cadastro {
	position: relative;
	margin: 3rem 0 3rem 0;

	/* Em celulares, o tamanho deve ser 90% */
	width: 90%;
	
	/* Em telas maiores, o tamanho máximo deve ser 450px */
	max-width: 450px;
	height: auto;
	background: #FEFEFE;
	border-radius: 0.5rem;

}

.titulo {
	text-align: center;
	margin: 3rem 0 1rem 0;
	font-family: 'Lobster', cursive;
	font-size: 3rem;
	font-weight: bold;
}

.formulario{
	font-family: Helvetica, sans-serif;	
	padding: 1rem 1rem 2rem 1rem;
}

.formulario label {
	margin: 1rem 0 0.5rem;
	display: inline-block;

}


.input-padrao {

	margin: 0.5rem 0 1rem;
	padding: 0.8rem;
	width: 93%;
	border: 1px solid silver;
	border-radius: 0.4rem;
}


.enviar {
	width: 60%;
	margin: 2rem 0 0 0;
	padding: 1rem 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	border-radius: 0.4rem;
	transition: 0.5s all;
	cursor: pointer;
}

.enviar:hover {
	background: red;
	transform: scale(1.1);
}


	#erro_nome, #erro_nome_letras, 
	#erro_email, 
	#erro_senha, 
	#erro_telefone {
	margin: 0 0 1rem 0;
	width: 90%;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 1rem;
	border-radius: 0.4rem;
	border: 1px solid #EF9A9A;
	display: none;
}

.formulario li, .formulario p {
	list-style-type: disc;
	list-style-position:inside;
	padding: 0.2rem;
	
}

