
main {
	font-family: Helvetica, sans-serif;
	
}


.principal {
	width: 940px;
	align-content: center;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;



	padding: 1.5rem 0;
	
}

.principal li {
	display: inline-block;
	box-sizing: border-box;
	border-radius: 1rem;
	vertical-align: top;
	padding: 4rem 3rem;
	height: 70rem;
	line-height: 1.5rem;


}

.imagem {
	border-radius: 50%; 
	width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.painel-esquerdo {

	color: #F2F3F4;
	background: #34495E;
	width: 40%;

}

.painel-esquerdo h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2rem;
}

.painel-esquerdo h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;


}

.painel-esquerdo a {

	color: #F2F3F4;
	text-decoration: none;


}

.painel-esquerdo a:hover {

	color: #FFFF00;
	text-decoration: underline;


}

.painel-direito {

	background: #F2F3F4;
	width: 58%;



}
.painel-direito h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	color: #F2F3F4;
	background: #34495E;
	padding: 1rem;
	border-radius: 1rem;
}

.painel-direito h3 {
	text-transform: uppercase;
	font-weight: bold;


}

@media screen and (max-width:768px) {

	.principal {
		width: auto;
		margin-left: 5%;
		margin-right: 5%;
		align-content: center;
	}

	.principal li {
		height: auto;

	}

	.painel-direito {

		width: 100%;
	
	
	
	}

	.painel-esquerdo {
		width: 100%;
	
	}

	.principal li {
		display: block;
	}
	
}