body {
	font-family: Helvetica, sans-serif;
	
}

.principal {
	margin: auto;
	width: 940px;
	padding: 1rem;
	display: flex;
	
}

.painel {

	margin: auto;
	box-sizing: border-box;
	border-radius: 1rem;
	vertical-align: top;
	padding: 4rem 3rem;
	line-height: 1.5rem;
	height: 63rem;
}

.painel p {
	margin: 0 0 1em;
	

}

.imagem {
	border-radius: 50%; 
	width: 150px;
  	display: block;
  	margin: auto;
}


.painel-esquerdo {
	color: #F2F3F4;
	background: #34495E;
	width: 40%;
	box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.8);

}

.painel-esquerdo h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2rem;
	margin: 1em 0 1em;
}

.painel-esquerdo h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1.5em 0 0.5em;


}

.painel-esquerdo a {

	color: #F2F3F4;
	text-decoration: none;

}

.painel-esquerdo a:hover {

	color: #FFFF00;
	text-decoration: underline;


}

.habilidades {
	list-style-type: disc;
}


.painel-direito {
	background: #F2F3F4;
	width: 60%;
	box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.8);



}
.painel-direito h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	color: #F2F3F4;
	background: #34495E;
	padding: 1rem;
	border-radius: 1rem;
	margin: 3rem 0 1rem;
}



.painel-direito strong {
	margin:2em 1em 0 auto;
	text-transform: uppercase;
	font-weight: bold;
}


@media screen and (max-width:980px) {

	.principal {
		width: auto;
		max-width:500px;
		margin: auto auto;
		display: block;

	}

	.painel {
		height: auto;

	}

	.painel-direito {
		width: 100%;
	}

	.painel-esquerdo {
		width: 100%;
	}
}